:root {

	--red: #f24141;
	--red_dark: #c42b2b;
	--blue: #4286f4;
	--blue_dark: #2f70d8;
	--grey: #f9f9f9;
	--grey_dark: #c4c4c4;
}

@font-face {

	font-family: lato;
	src: url('../fonts/Lato-Regular.ttf');
}

* {

	font-family: lato;
}

button {

	border: 1px solid var(--grey_dark);
	border-radius: 3px;
	padding: 3px;
	padding-left: 12px;
	padding-right: 12px;
	cursor: pointer;
	background-color: var(--grey);
	color: #555;
	font-size: 13px;
	font-weight: bold;
	box-shadow: inset 0px -5px 10px /*var(--grey_dark)*/ #e2e2e2;
	outline: none; 
}

button:hover, button:active {

	border: 1px solid var(--blue_dark);
	background-color: var(--blue);
	box-shadow: inset 0px -5px 10px var(--blue_dark);
	color: #fff;

}

button:active {

	box-shadow: inset 0px 5px 10px var(--blue_dark);
}

input, textarea {

	border-radius: 3px;
	padding: 3px;
	border: 1px solid var(--grey_dark);
	background-color: #fff;
}

textarea {

	padding: 5px;
}

input:focus, textarea:focus {

	outline: 0;
	border-color: var(--blue);
}

* {

	margin: 0px;
	padding: 0px;
}

body, html {

	height: 100%;
}

.wrapper {

	text-align: center;
}

.container {

	display: inline-block;
	width: 50%;
	margin-top: 30px;
}

header {

	height: 40px;
	line-height: 40px;
	text-align: left;
	border-bottom: 1px solid var(--grey_dark);
}

header h1 {

	display: inline-block;
	font-size: 25px;
}

header h1 img {

	--size: 20px;
	width: var(--size);
	height: var(--size);
	margin-right: -4px;
}

header a h1 {

	color: #000;
	font-weight: 400;
}

header ul {

	float: right;
	list-style: none;
}

header ul li {

	float: left;
	margin-right: 30px;
}

header ul li a {

	text-decoration: none;
	color: #222;
	padding: 5px;
}

header ul li a:hover {

	color: var(--blue_dark);
	text-decoration: underline;
}

footer {

	background-color: var(--grey);
	border-top: 1px solid var(--grey_dark);
	padding: 4px;
	text-align: left;
}

.grid {

	display: grid;
}

._main {

	grid-template-columns: 1fr 0.2fr;
}

nav {

	padding-top: 10px;
}

nav div {

	background-color: #fff;
	border: 1px solid #aaa;
	border-radius: 4px;
}

nav div h3 {

	background-color: #fafafa;
	padding: 2px;
	border-bottom: 1px solid #aaa;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	margin-bottom: 4px;
	font-weight: 400;
}

nav div form {

	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
}

nav div form input {

	margin: 5px;
}

nav div form button {

	margin-top: 4px;
}

main {

	text-align: left;
	margin: 10px;
	border: 1px solid var(--grey_dark);
	border-radius: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

/*POSTS*/

main a, #user_posts a {

	background-color: #fff;
	display: block;
	position: relative;
	height: 20px;
	line-height: 20px;
	color: black;
	text-decoration: none;
	padding: 10px;
}

main a:nth-child(even), #user_posts a:nth-child(even) {

	background-color: #fafafa;
}

main a:nth-child(odd), #user_posts a:nth-child(odd) {

	background-color: #eee;
}

main a h3 {

	font-size: 18px;
	font-weight: 400
}

#user_posts {

	text-align: left;
	border: 1px solid var(--grey_dark);
	padding-top: 4px;
	padding-bottom: 4px;
	border-radius: 4px;
	margin-top: 20px;
}

#user_posts a h3 {

	font-weight: 400;
}

main a:hover, #user_posts a:hover {

	background-color: var(--blue);
	color: #fff;
	font-size: 18px;
}

main a i, #user_posts a i {

	font-size: 14px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 10px;
}

article, section {

	float: left;
	text-align: left;
	max-width: 934px;
}

/*=ARTICLE=*/

article {

	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	word-wrap: break-word;
	border: 1px solid var(--grey_dark);
}

article h1 {

	padding: 4px;
	padding-left: 8px;
	margin: -10px;
	margin-bottom: 10px;
	background-color: var(--grey);
	border-bottom: 1px solid var(--grey_dark);
}

/*=user div=*/

.user_div {

	text-align: left;
	position: relative;
	padding: 10px;
}

/*=POSTS - USER=*/

#post_form {

	display: inline-block;
	vertical-align: top;
	border: 1px solid var(--grey_dark);
	padding: 10px;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 20px;
}

#post_form h3 {

	background-color: var(--grey);
	padding: 4px;
	padding-left: 8px;
	border-bottom: 1px solid var(--grey_dark);
	margin: -10px;
	margin-bottom: 5px;
}

#post_form input {

	margin-top: 10px;
	margin-bottom: 10px;
	padding: 4px;
}

#post_form textarea, #form_comment_art textarea {

	width: 400px;
	height: 200px;
}

#post_form button {

	margin-top: 10px;
}

/*=COMMENTS=*/

#form_comment_art {

	border: 1px solid var(--grey_dark);
	display: inline-block;
	padding: 10px;
}

#form_comment_art h3 {

	padding: 4px;
	padding-left: 8px;
	background-color: var(--grey);
	margin: -10px;
	margin-bottom: 10px;
	border-bottom: 1px solid var(--grey_dark);
}

#article_comment_div {

	text-align: center;
	margin-top: 10px;
	border: 1px solid var(--grey_dark);
	padding: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 4px;
}

#article_comment_div div {

	text-align: left;
	word-wrap: break-word;
	padding: 4px;
	padding-left: 8px;
}

#article_comment_div div:nth-child(even) {

	background-color: #fafafa;
}

#article_comment_div div:nth-child(odd) {

	background-color: #eee;
}

/*=PRIVATE MESSAGES=*/

.container_private_message {

	display: inline-block;
}

.section_private_message {

	display: grid;
	grid-template-rows: 1fr 1fr;
	background-color: #fff;
}

#form_private_message {

	display: inline-block;
	background-color: #fff;
	border: 1px solid var(--grey_dark);
	padding: 10px;
}

#form_private_message h3 {

	background-color: var(--grey);
	border-bottom: 1px solid var(--grey_dark);
	padding: 4px;
	padding-left: 8px;
	margin: -10px;
	margin-bottom: 10px;
}

#form_private_message p {

	margin-top: 5px;
	color: #555;
	text-shadow: 1px 1px 1px #fff;
}

#form_private_message input {

	margin-top: 10px;
	margin-bottom: 10px;
}

#form_private_message textarea {

	width: 400px;
	height: 200px;
}

#form_private_message button {

	margin-top: 10px;
}

#div_private_message {

	vertical-align: top;
	display: inline-block;
	color: #fff;
	overflow: hidden;
}

#div_private_message h3 {

	background-color: var(--grey);
	border: 1px solid var(--grey_dark);
	border-top: none;
	padding: 4px;
	padding-bottom: 5px;
	padding-left: 8px;
	color: #000;
}

.prv_msg {

	height: auto;
	word-wrap: break-word;
	overflow: hidden;
	background-color: #fff;
	border: 1px solid #aaa;
	border-top: none;
	padding: 10px;
	color: #000;
	position: relative;
	max-height: 200px;
}

.prv_msg i {

	position: absolute;
	bottom: 10px;
	right: 10px;
}

#form_user_search {

	text-align: left;
}

#div_user_search {

	text-align: left;
	margin-top: 10px;
}

/*=USER INFO=*/

.div_user_info {

	margin-top: 10px;
	margin-bottom: 10px;
}

.div_user_info h1::before {

}

.div_user_info h1 {

	font-weight: 400;
}